environs==9.5.0
grpcio==1.63.0
marshmallow==3.21.3
numpy==2.0.1
packaging==24.1
pandas==2.2.2
protobuf==5.27.3
pymilvus==2.4.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
setuptools==72.2.0
six==1.16.0
tzdata==2024.1
ujson==5.10.0
